/**
 * Icon list
 */

/* Glyphicons */
.glyphicons-list {
  list-style: none;
  padding: 0;
}

.glyphicons-list li {
  display: inline-block;
  float: left;
  width: 12.5%;
  height: 115px;
  background-color: #f8f8f8;
  border: 1px solid #fff;
  padding: 10px;
  transition: .3s ease;
}

.glyphicons-list li:hover {
  background-color: #eee;
}

.glyphicons-list .glyphicon {
  display: block;
  text-align: center;
  font-size: 25px;
  color: #222;
}

.glyphicons-list .glyphicon-class {
  display: block;
  text-align: center;
  margin-top: 10px;
  line-height: 16px;
  font-size: 13px;
}

/* Font Awesome */
.fa-page-header {
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}

.fontawesome-icon-list .fa-hover {
  margin-bottom: 5px;
  transition: .3s ease;
}

.fontawesome-icon-list .fa-hover:hover {
  background-color: #f8f8f8;
}

.fontawesome-icon-list .fa-hover .fa {
  width: 25px;
  color: #222;
}

/**
 * Prism supported languages
 */
.prism-languages {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.prism-languages li {
  width: 33.3333%;
  float: left;
}

.prism-languages li code {
  margin-left: 8px;
}

/**
 * Code window spacer
 */
.window-content .btn {
  margin-bottom: 6px;
}

a {
  line-height: 1.7em;
}



/* *** custom coding start *** */
/*.sidebar-boxed { 
  width: 20%; 
  min-width: 350px; 
  float: left;

}
*//*body > main {
  padding-left: 22% !important;
  width: 78% ;
  float: left;
}
*/
.sidebar-brand{
  font-size: 2.5em;
  color: #aeb2b7;
}
ul.nav li.active ul {
  display: block !important;
}
.sidebar-boxed .sidenav .child_ul li a {
  line-height: 25px !important;
  padding-top: 7px !important;
}
.ps {
  overflow: auto !important;
}

html {
  height: 100%;
}
body {
  height: 100%;
}
.container-fluid{
  height: 100%;
  padding-right: 0px;
}
.content_iframe{
  width: 100%;
  height: 100%;
}
.header1{
  color: #224262;
  font-size: 3.5em;
  text-align: center;

  margin-bottom: 10px;
  margin-top: 70px;
  margin-right: 15%;
}
.header2{
  color: #ca0203;
  font-size: 3.7em;
  text-align: center;
  margin-top: 10px;
  margin-right: 15%;
}

.bottomCenter
{
    position: relative;
    text-align: center;
    margin-top: 220px;
    margin-right: 15%;
}

.auxImage{
  position: absolute;
  top: 12%;
  margin-left: 25px;
}
.clearfix {
  clear:both;
}


/* *** custom coding end *** */
@media (max-width: 767px) {
  .glyphicons-list li {
    width: 25%;
  }
}



@media (max-width: 991px) {

  .prism-languages li {
    width: 50%;
  }

}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 00 - Page (Global */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.blshead h1 {
  font-weight: bold;
}

.makeright {
  float: left;
  width: 60%;
}

.makeleft {
  float: left;
  width: 20%;
}

.makeleft2 {
  width: 20%;
  float: left;
  margin-top: 30px;
  text-align: right;
}

.contentDiv {
  width: 100%!important;
}

section.page {
  padding: 20px;
  color: #38699c;
  text-align: center;
}

section.page video {
  width: 100%;
}

section.page h1 {
  font-weight: bold;
}

section.page p {
  font-size: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - Page 1 (Coronary Perfusion Pressure (CPP)) */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.page1 h1 {

}

.page1 p {
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - Page 2 (Average CPP) */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - Page 3 (Positive Pressure Ventilation during CPR) */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.page3 img {
  max-width: 100%;
}

.page3 .vid1,
.page3 .vid2,
.page3 .vid3 {
  width: 33%;
  float: left;
}

.page3 .vid2 {
  position: relative;
}

.page3 .vid2 .lec1 {
  text-align: left;
  top: 100px;
  position: relative;
}

.page3 .vid2 .lec2 {
  position: absolute;
  top: 500px;
}